{% load render_vite_bundle %}
<!DOCTYPE html>
<html lang="en">

<!--
  For this base.html to work in dev and in production,
  you'll need to set a couple of keys inside your settings.default.py.
  Another file in this gist shows which ones you'll really need.
-->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title class="notranslate" translate="no">miniSASS</title>

  {% if dev_mode %}
  <script type="module" src="http://localhost:5173/@vite/client"></script>

  <!-- If you're using vite with React, this next script will be needed for HMR -->
  <script type="module">
    import RefreshRuntime from 'http://localhost:5173/@react-refresh'
    if (RefreshRuntime) {
      RefreshRuntime.injectIntoGlobalHook(window)
      window.$RefreshReg$ = () => { }
      window.$RefreshSig$ = () => (type) => type
      window.__vite_plugin_react_preamble_installed__ = true
    }
  </script>
  {% endif %}
  <script type="application/javascript">
    const GOOGLE_ANALYTICS_TRACKING_CODE = "{{ GOOGLE_ANALYTICS_TRACKING_CODE }}";
    const PRIVACY_POLICY_VERSION = "{{ PRIVACY_POLICY_VERSION }}";
    const COUNTRIES_DICT = {{ COUNTRIES_DICT|safe }};
    {#const YOMA_AUTH_URL = "{{ YOMA_AUTH_URL }}";#}
    const YOMA_AUTH_URL = "https://stage.yoma.world/auth/realms/yoma/protocol/openid-connect/auth?client_id=mini-sass&redirect_uri=http://localhost:5000/authentication/api/yoma/callback/&response_type=code&scope=openid+email+profile+yoma-api+phone";
    {#console.log("{{ YOMA_AUTH_URL }}");#}
  </script>
</head>

<body>

  <div id="root"></div>

  {% if dev_mode %}
  <!-- This url will be different for each type of app. Point it to your main js file. -->
  <script type="module" src="http://localhost:5173/index.tsx"></script>
  {% else %}
  {% render_vite_bundle %}
  {% endif %}
</body>

</html>
