{% if observations %}
  {"type":"FeatureCollection",
  "features":[
  {% for observation in observations %}
    {"type":"Feature",
      "properties":{
        "obs_gid":"{{observation.gid}}",
        "user":"{{observation.user}}",
        {% if observation.flatworms %} "flatworms":"Yes", {% else %} "flatworms":"No",{% endif %}
        {% if observation.worms %} "worms":"Yes", {% else %} "worms":"No",{% endif %}
        {% if observation.leeches %} "leeches":"Yes", {% else %} "leeches":"No",{% endif %}
        {% if observation.crabs_shrimps %} "crabs_shrimps":"Yes", {% else %} "crabs_shrimps":"No",{% endif %}
        {% if observation.stoneflies %} "stoneflies":"Yes", {% else %} "stoneflies":"No",{% endif %}
        {% if observation.minnow_mayflies %} "minnow_mayflies":"Yes", {% else %} "minnow_mayflies":"No",{% endif %}
        {% if observation.other_mayflies %} "other_mayflies":"Yes", {% else %} "other_mayflies":"No",{% endif %}
        {% if observation.damselflies %} "damselflies":"Yes", {% else %} "damselflies":"No",{% endif %}
        {% if observation.dragonflies %} "dragonflies":"Yes", {% else %} "dragonflies":"No",{% endif %}
        {% if observation.bugs_beetles %} "bugs_beetles":"Yes", {% else %} "bugs_beetles":"No",{% endif %}
        {% if observation.caddisflies %} "caddisflies":"Yes", {% else %} "caddisflies":"No",{% endif %}
        {% if observation.true_flies %} "true_flies":"Yes", {% else %} "true_flies":"No",{% endif %}
        {% if observation.snails %} "snails":"Yes", {% else %} "snails":"No",{% endif %}
        "score":"{{observation.score}}",
        "obs_date":"{{observation.obs_date}}",
        {% if observation.flag == clean %} "flag":"Verified", {% else %} "flag":"Unverified",{% endif %}
        {% if observation.water_clarity == None %}
          "water_clarity":"",
        {% else %}
          "water_clarity":"{{observation.water_clarity}} cm",
        {% endif %}
        {% if observation.water_temp == None %}
          "water_temp":"",
        {% else %}
          "water_temp":"{{observation.water_temp}}°C",
        {% endif %}
        {% if observation.ph == None %}
          "ph":"",
        {% else %}
          "ph":"{{observation.ph}}",
        {% endif %}
        {% if observation.diss_oxygen == None %}
          "diss_oxygen":"",
        {% else %}
          "diss_oxygen":"{{observation.diss_oxygen}} {{observation.diss_oxygen_unit}}",
        {% endif %}
        {% if observation.elec_cond == None %}
          "elec_cond":"",
        {% else %}
          "elec_cond":"{{observation.elec_cond}} {{observation.elec_cond_unit}}",
        {% endif %}
      }
    }
    {% if not forloop.last %},{% endif %}
  {% endfor %}]}
{% endif %}
