# Adjust all values on the right side with your own user defined variable ie `POSTGRES_PASS=docker`
POSTGIS_DB=minisass,minisass_data
POSTGRES_USER=docker
POSTGRES_PASS=${POSTGRES_PASS}
ALLOW_IP_RANGE=0.0.0.0/0
POSTGRES_MULTIPLE_EXTENSIONS=postgis,hstore,postgis_topology,postgis_raster,pgrouting
POSTGRES_DB=minisass_data
FORCE_SSL=TRUE

DATABASE_HOST=db
DATABASE_PORT=5432
SERVER_MODE=production
RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=
SMTP_HOST=
SMTP_PORT=587
SMTP_EMAIL=
SMTP_HOST_USER=
SMTP_HOST_PASSWORD=
SMTP_EMAIL_TLS=True
ADMIN_EMAIL=
RESOLVER=127.0.0.11
HTTPS_HOST=${COMPUTER_HOSTNAME}
HTTPS_PORT=443
DEV_SETUP=TRUE

# IP or domain name and port where the server can be reached on HTTP (leave HOST empty if you want to use HTTPS only)
HTTP_HOST=
HTTP_PORT=80
# set this to production if you are deploying on your own domain with proper certificates
LETSENCRYPT_MODE=disabled
# set debug to false on production
DEBUG=True
MEDIA_ROOT = /home/web/media
MEDIA_URL = /media/
STATIC_ROOT = /home/web/static
STATIC_URL = /static/
SENTRY_KEY=

SMTP_EMAIL=
SMTP_EMAIL_TLS=
SMTP_HOST=
SMTP_HOST_PASSWORD=
SMTP_HOST_USER=
SMTP_PORT=

# Minio
MINIO_ROOT_USER=minisass_admin
MINIO_ROOT_PASSWORD=secure_minio_secret
BUCKET=demo