#dist
#src
#!django_project/minisass_frontend/src
#assets
*.~
*~
*.pyc
python
docker-compose.override.yml
django_project/minisass/settings.py
django_project/minisass/wsgi.py
*.pyc
*.*.orig
*.swp
*.swo
django_project/minisass/media/livetracks/*
.DS_Store
django_project/minisass/*.txt
django_project/minisass/smedia
django_project/minisass/media
django_project/minisass/settings_jurgen.py
django_project/minisass/static/admin/
django_project/minisass/static/cms/
django_project/minisass/static/cmsplugin_blog/
django_project/minisass/static/cmsplugin_filer_folder/
django_project/minisass/static/css/monitor_stylesheet.css
django_project/minisass/static/css/registration.css
django_project/minisass/static/filer/
django_project/minisass/static/img/
django_project/minisass/static/js/GeoExt/
django_project/minisass/static/js/ext-3.4.0/
django_project/minisass/static/js/minisass.js
django_project/minisass/static/js/minisass_map.js
django_project/minisass/static/js/registration.js
django_project/minisass/static/openlayers/
django_project/minisass/static/simple_translation/
django_project/minisass/static/tiny_mce/
django_project/minisass/wsgi-jurgen.py
tags
.idea/
data

.env
docs/mkdocs.yml
