:root { 
--blue_900:#0e4981; 
--cyan_A200:#00ffff; 
--gray_500:#a2a2a2; 
--blue_gray_100:#d9d9d9; 
--gray_800:#414141; 
--blue_gray_500:#539987; 
--red_500:#ea4832; 
--green_800:#288b31; 
--gray_200:#e7e7e7; 
--yellow_400:#fadf63; 
--black_900_01:#070707; 
--black_900:#000000; 
--gray_500_01:#939090; 
--white_A700:#ffffff; 
--indigo_800:#2f3a80; 
--red_A700:#d00501; 
}
