
 @font-face { font-display: swap; font-style : normal; src: url("/static/fonts/RalewayRomanSemiBold.ttf"); font-family : "Raleway"; font-weight : 600;  }
 @font-face { font-display: swap; font-style : normal; src: url("/static/fonts/RalewayExtraBold.ttf"); font-family : "Raleway"; font-weight : 800;  }
 @font-face { font-display: swap; font-style : normal; src: url("/static/fonts/MulishRomanBold.ttf"); font-family : "Mulish"; font-weight : 700;  }
 @font-face { font-display: swap; font-style : normal; src: url("/static/fonts/RalewayRomanRegular.ttf"); font-family : "Raleway"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("/static/fonts/RalewayRomanBold.ttf"); font-family : "Raleway"; font-weight : 700;  }
 @font-face { font-display: swap; font-style : normal; src: url("/static/fonts/RalewayBold.ttf"); font-family : "Raleway"; font-weight : 700;  }
