<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Coming+Soon">
    <link href="/static/css/normalize.css" media="screen, print" rel="stylesheet">
    <link href="/static/css/minisass-menu.css" media="screen, print" rel="stylesheet">
    <link href="/static/css/base.css" media="screen, print" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="/static/js/jqueryslidemenu.js"></script>

    <title>
     miniSASS Error
    </title>
  </head>
  <body>
    <div class="minisass-box"><div class="minisass-container">

      <div class="minisass-heading">
        <a href="/">
          <img src="/static/images/mini_SASS_logo.png" alt="miniSASS Logo"
          title="miniSASS Logo" style="margin: 4px 0 4px 4px">
        </a>
        <div class="registration_links">
        </div>
        <div class="minisass-heading-space">
        </div>
        <div id="myslidemenu">
          <ul class="minisass-menus">
          </ul>
        </div>

      <div class="red-line">
      </div>

      <div class="minisass-page">

              <div class="minisass-page-content">
                An error occurred. Please contact frank@gis-solutions.co.za for
                assistance.
              </div>

              <div class="minisass-right-column">
              </div>

      </div>

      <div class="minisass-bottom">
          <div>
          </div>
      </div>
      <div class="minisass-bottom-logos">
      </div>

    </div></div>

  </body>
</html>
