{% load cms_tags menu_tags sekizai_tags %}
<!doctype html>
<html>
  <head>
    {% addtoblock "css" %}<link href="{{STATIC_URL}}css/base.css" media="screen, print" rel="stylesheet">{% endaddtoblock %}
    {% block "minisass_css" %}
    {% endblock %}
    {% render_block "css" %}

    {% block "minisass_js" %}
    {% endblock %}
    {% render_block "js" %}

    <title>
      {% block "minisass_page_title" %}{% page_attribute "page_title" %}{% endblock %}
    </title>
  </head>
  <body>
    {% cms_toolbar %}

    <div class="minisass-container">

      <div class="minisass-heading">
        <a href="/">
          <img src="{{STATIC_URL}}images/mini_SASS_logo.png" alt="miniSASS Logo"
          title="miniSASS Logo" style="margin: 4px 0 4px 4px">
        </a>
          <div class="registration_links">
            <p>
            {% if user.is_authenticated %}
            Welcome back, {{ user.username }}<br />
            <a href="{% url auth_logout %}">Logout</a> |
            <a href="{% url auth_password_change %}">Change Password</a>
            {% else %}
            <a href="{% url auth_login %}">Login</a> |
            <a href="{% url registration_register %}">Register</a><br />
            <a href="{% url auth_password_reset %}">Reset Password</a>
            {% endif %}
            </p>
          </div>
        <div class="minisass-heading-space">
        </div>
        <ul class="minisass-menus">
          {% show_menu 0 0 %}
        </ul>
      </div>
      <div class="red-line">
      </div>

      <div class="minisass-page">

          {% block "minisass_page_content" %}
              <div class="minisass-page-content">
                  {% placeholder "content" %}
              </div>
          {% endblock %}

          {% block minisass_right_column %}
              <div class="minisass-right-column">
                  {% placeholder "right_column" %}
              </div>
          {% endblock %}

      </div>

      {% block minisass_bottom %}
      <div class="minisass-bottom">
          <div>
              {% block bottom_links %}
                {% placeholder "footer_content" or %}
                  {% show_placeholder "footer_content" "footer_stuff" %}
                {% endplaceholder %}
              {% endblock %}
          </div>
          <p>
          &copy; 2013, GroundTruth cc.
          </p>
      </div>
      {% endblock %}
      <div class="minisass-bottom-logos">
          <a href="http://www.dwa.gov.za/" target="_blank">
            <img src="{{ STATIC_URL }}images/dwa.png" 
                 alt="Department of Water Affairs" 
                 title="Department of Water Affairs" /></a>
         <a href="http://www.wrc.org.za/" target="_blank">
            <img src="{{ STATIC_URL }}images/wrc.png" 
                 alt="Water Research Council" 
                 title="Water Research Commission" /></a>
         <a href="http://www.groundtruth.co.za/" target="_blank">
            <img src="{{ STATIC_URL }}images/groundtruth.png" 
                 alt="GroundTruth" 
                 title="GroundTruth" /></a>
      </div>

    </div>

    {% include "google_analytics.html" %}
  </body>
</html>
