#map {
  float:left;
}

#map img {
  margin:0px;
}

#sidepanel {
  clear:both;
  float:left;
}

#zoompanel img {
  margin:0px;
}

#input_buttons {
  margin-left:auto;
  margin-right:auto;
}

#input_buttons img {
  margin:2px;
}

#data_panel td, th {
  padding:1px;
}

#data_panel img {
  margin:0px;
}

#data_table_left {
  margin:5px;
  text-align:left;
}

#data_table_right {
  margin:5px;
}

#data_table_right .tdtotal {
  text-align:center;
  font-weight:bold;
}

#data_table_right th {
  text-align:center;
  font-weight:bold;
}

#data_table_right .tdlabel {
  text-align:left;
}

#data_table_right .tdscore {
  text-align:center;
  font-weight:normal;
  color:darkgray;
}

#sidepanel {
  font-family:Verdana,Arial,sans-serif;
  font-size: 0.7em;
}

#layerswitcher .baseLbl, .dataLbl{
  margin-top:3px;
  margin-left:3px;
  margin-bottom:3px;
  font-weight:bold;
}

#legend_table {
  font-family:Verdana,Arial,sans-serif;
  font-size:1em;
  color:black;
  font-weight:normal;
}

#legend_table .legend_header {
  font-weight:bold;
}

#legend_table img {
  margin:2px;
}

#map .olControlZoomPanel {
  left: 8px;
  top: 8px;
} 
