body {
    font-family: Arial, Verdana, sans;
    font-size: medium;
}

/* page layout styles */
.minisass-container {
    width: 1024px;
    margin: 0 auto 0 auto;
    background: white;
}
.minisass-heading {
    width: 100%;
    float: left;
    background: #3168b8;
}
.minisass-page-content {
    width: 800px;
    float: left;
    background: white;
}
.minisass-right-column {
    width: 220px;
    float: left;
}
.minisass-bottom {
    clear: both;
    width: 100%;
    float: left;
    background: #b22;
    color: white;
    font-size: smaller;
}

/* page heading styles */
.minisass-heading img {
    float: left;
}
.minisass-heading-space {
    float: left;
    margin-top: 123px;
    width: auto;
}
.red-line {
    height: 2px;
    float: left;
    width: 100%;
    background: #b22;
    margin-bottom: 5px;
    border: none;
}

/* breadcrumb styling */
.minisass-breadcrumbs {
    float: right;
    background: white;
    font-size: small;
}
.minisass-breadcrumbs li {
    display: block;
}

/* top page menu styling */
ul.minisass-menus {
    float: left;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0;
    border: 0;
    padding-left: 0px;
}
.minisass-menus li {
    width: auto;
    display: block;
    float: left;
    padding: 3px 8px 3px 8px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid white;
    margin-left: 2px;
    text-align: center;
    background: #cc3;
}
.minisass-menus li.selected {
    background: #b22;
    color: white;
}
.minisass-menus li.selected a:visited,
.minisass-menus li.selected a:active,
.minisass-menus li.selected a:hover, 
.minisass-menus li.selected a {
    color: white;
    text-decoration: none;
}
.minisass-menus li.sibling a:visited,
.minisass-menus li.sibling a:active,
.minisass-menus li.sibling a:hover, 
.minisass-menus li.sibling a {
    color: #77e;
    text-decoration: none;
}
.minisass-menus li.selected a:active,
.minisass-menus li.selected a:hover {
    text-decoration: underline;
}
.minisass-menus li.sibling a:active,
.minisass-menus li.sibling a:hover {
    text-decoration: underline;
}

/* map page styling */
.minisass-map-content {
    width: 100%;
    float: left;
}

/* recent observations plugin stylin */
div.recent-observations {
    width: 100%;
    background: #5cf;
    font-size: small;
    margin-left: 4px;
}
.recent-observations section {
    margin: 8px;
}
.recent-observations h1 {
    font-size: 1.1em;
    background-color: orange;
    padding: 4px;
    text-align: center;
}
.recent-observations section h2 {
    font-size: 1.0em;
    background-color: #b22;
    color: white;
    padding: 2px;
}
.recent-observations section p {
    padding-bottom: 3px;
    border-bottom: 1px dotted white;
}

/* right column links plugin */
div.minisass-rc-links {
    width: 100%;
    background: #7ce;
    font-size: small;
    margin-left: 4px;
    padding-bottom: 8px;
}
.minisass-rc-links section {
    margin: 8px 0 8px 0;
}
.minisass-rc-links section heading h1 {
    font-size: 1.1em;
    background-color: orange;
    padding: 4px;
    text-align: center;
}
.minisass-rc-links section p.plugin_link {
    margin: 8px;
}

/* blog include list styling */
div.cmsplugin-blog-include-list {
    width: 100%;
    background: #8ce;
    font-size: small;
    margin-left: 4px;
    padding-bottom: 8px;
}
.cmsplugin-blog-include-list section heading h1 {
    font-size: 1.1em;
    background-color: orange;
    padding: 4px;
    text-align: center;
}
.cmsplugin-blog-include-list p {
    margin: 8px;
    font-size 0.9em;
}
.cmsplugin-blog-include-list p a {
    font-size: 1.0em;
    font-weight: bold;
    color: #b22;
    padding: 2px;
}

/* image plugin styling */
img.left {
    float: left;
    margin-right: 7px;
}
span.title {
    clear: both;
    display: block;
    float: left;
    margin: 0 7px 7px 0;
    font-size: smaller;
}

div.registration_links {
    float: right;
    margin: 5px 15px 0 0;
    font-size: smaller;
    color: white;
}
.registration_links a:hover,
.registration_links a:visited,
.registration_links a:active,
.registration_links a {
    color: white;
}

/* bottom links */
.minisass-bottom div {
    width: 100%;
    float: left;
}
.minisass-bottom p {
    margin: 10px 40px 10px 40px;
}
.minisass-bottom a {
    color: white;
    float: left;
    margin: 10px 40px 10px 0px;
}
.minisass-bottom a:hover,
.minisass-bottom a:visited,
.minisass-bottom a:active {
    color: white;
}
