body {
    font-family: Arial, Verdana, sans;
    font-size: medium;
    background: #38b;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Coming Soon', serif;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}

/* page layout styles */
.minisass-container {
    width: 1024px;
    height: auto;
    margin: 0 auto 0 auto;
    overflow: hidden;
    -webkit-box-shadow: 10px 10px 10px rgba(0,0,30,0.4);
    -moz-box-shadow: 10px 10px 10px rgba(0,0,30,0.4);
    box-shadow: 10px 10px 10px rgba(0,0,30,0.4);
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.minisass-box {
    padding: 15px 0;
    overflow: hidden;
}
.minisass-heading {
    width: 100%;
    float: left;
    background: white;
    /* background: #eef; */
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.minisass-page {
    width: 100%;
    float: left;
    background: white;
}

.minisass-page-content {
    width: 795px;
    float: left;
    background: white;
    font-size: 0.8em;
    margin-left: 5px;
}
.minisass-right-column {
    width: 220px;
    float: left;
}
.minisass-bottom {
    clear: both;
    width: 100%;
    float: left;
    background: #3168b8;
    color: white;
    font-size: smaller;
}

/* page heading styles */
.minisass-heading img {
    float: left;
    border: 0;
    margin: 17px 10px 0 7px;
    padding: 0;
}
.minisass-heading-space {
    float: left;
    height: 127px;
    width: 485px;
    margin: 0 0 0 10px;
}
.red-line {
    height: 12px;
    float: left;
    width: 100%;
    background: #3168b8;
    border: none;
}

/* breadcrumb styling */
.minisass-breadcrumbs {
    float: right;
    background: white;
    font-size: small;
}
.minisass-breadcrumbs li {
    display: block;
}

/* map page styling */
.minisass-map-content {
    width: 100%;
    float: left;
}

/* recent observations plugin stylin */
div.recent-observations {
    width: 100%;
    background: #adf;
    font-size: small;
    margin-left: 4px;
    margin-top: 4px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.recent-observations section {
    margin: 8px;
}
.recent-observations h1 {
    font-size: 1.1em;
    background-color: #3168b8;
    padding: 4px;
    text-align: center;
    color: white;
    margin: 0 0 0.67em 0;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.recent-observations h2 a:visited,
.recent-observations h2 a:active,
.recent-observations h2 a:hover, 
.recent-observations h2 a {
    color: white;
    text-decoration: none;
}
.recent-observations h2 a:active,
.recent-observations h2 a:hover {
    text-decoration: underline;
}
.recent-observations section h2 {
    font-size: 1.0em;
    background-color: #68d;
    color: white;
    padding: 2px;
}
.recent-observations section p {
    padding-bottom: 3px;
    border-bottom: 1px dotted white;
}
.recent-observations label {
    font-weight: bold;
}

/* right column links plugin */
div.minisass-rc-links {
    width: 100%;
    background: #7ce;
    font-size: small;
    margin-left: 4px;
    padding-bottom: 8px;
}
.minisass-rc-links section {
    margin: 8px 0 8px 0;
}
.minisass-rc-links section heading h1 {
    font-size: 1.1em;
    background-color: #47c;
    padding: 4px;
    text-align: center;
}
.minisass-rc-links section p.plugin_link {
    margin: 8px;
}

/* main content blog include list styling */
div.minisass-blog-content {
    float: left;
    width: 100%;
}
div.minisass-blog-content h1 {
    font-size: 2em;
    margin: 0.47em 0 0 0;
}
div.minisass-blog-content p {
    margin: 0.67em 0 0 0;
}
div.minisass-blog-content .cmsplugin-blog-include-list {
    background: white;
    font-size 0.8em;
}
div.minisass-blog-content .cmsplugin-blog-include-list section heading h1 {
    display: none;
}
div.minisass-blog-content div.cmsplugin-blog-include-list {
    background: white;
    font-size 0.8em;
}
div.minisass-blog-content div.cmsplugin-blog-include-list section p {
}
div.minisass-blog-content div.cmsplugin-blog-include-list section p a {
    font-weight: bold;
}

/* blog entries for blog latest styling */
div.blog-entries-latest {
    float: left;
    width: 860px;
}
/* blog entries for blog latest, date and tags styling */
div.blog-entries-author-date-tag {
    float: right;
    width: 150px;
    border: 1px solid grey;
    padding: 4px;
    background-color: #eee;
}
div.blog-entries-author-date-tag h1 {
    font-size: 1.1em;
}

/* right column blog include list styling */
div.minisass-right-column .cmsplugin-blog-include-list section h1 {
    background: #47c;
    font-size: 0.9em;
}
div.minisass-right-column .cmsplugin-blog-include-list {
    width: 100%;
    background: #8ce;
    margin-left: 4px;
    padding-bottom: 8px;
}
div.minisass-right-column .cmsplugin-blog-include-list section heading h1 {
    background-color: #47c;
    padding: 4px;
    text-align: center;
}
div.minisass-right-column .cmsplugin-blog-include-list section p {
    margin: 8px;
    font-size: 0.8em;
}
div.minisass-right-column .cmsplugin-blog-include-list section p a {
    display: block;
    padding: 2px;
    font-weight: bold;
    background-color: #45a;
    color: white;
    text-align: center;
}

/* right column action links styling */
div.minisass-right-column address p.plugin_link {
    background: #45a;
    margin: 0.7em;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    border-top: 2px solid #abd;
    border-left: 2px solid #abd;
    border-right: 2px solid #24d;
    border-bottom: 2px solid #129;
}

div.minisass-right-column address p.plugin_link a {
    display: block;
    padding: 1em;
    color: white;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

/* image plugin styling */
img.left {
    float: left;
    border: 1px solid lightgray;
    padding: 3px;
    margin: 3px;
}
span.title {
    clear: both;
    display: block;
    float: left;
    margin: 0 7px 7px 0;
    font-size: smaller;
}

div.registration_links {
    float: right;
    max-width: 120px; */
    color: #3168b8;
}
.registration_links a:hover,
.registration_links a:visited,
.registration_links a:active,
.registration_links a {
    color: #3168b8;
}
.registration_links p{
    float: right;
    margin: 5px 15px 0 0;
    font-size: smaller;
}

/* bottom links */
.minisass-bottom div {
    width: 100%;
    float: left;
    margin-top: 15px;
}
.minisass-bottom p {
    margin: 10px 40px 10px 40px;
}
.minisass-bottom a {
    color: white;
    float: left;
    margin: 10px 40px 10px 0px;
}
.minisass-bottom a:hover,
.minisass-bottom a:visited,
.minisass-bottom a:active {
    color: white;
}
.minisass-bottom-logos {
    clear: both;
    width: 100%;
    float: left;
    background: #eef;
    color: #aab;
    font-size: smaller;
    text-align: center;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.minisass-bottom-logos img {
    margin: 5px 15px 5px 15px;
    border: 0;
    padding: 0;
}

div.minisass-page-content h1 {
    background-color: #68d;
    color: white;
    text-align: center;
}

div.minisass-page-content p {
    margin: 0.5em 1em;
}
div.cmsplugin_filer_folder_slidshow {
    height: 235px !important;
}
