/* registration pages styling */
div.minisass-registration-content {
    width: auto;
    margin: 10px;
}

.minisass-registration-content th {
    text-align: left;
    vertical-align: bottom;
}
.minisass-registration-content td {
    vertical-align: bottom;
}
ul.errorlist {
    display: block;
    -webkit-padding-start: 0px;
    -webkit-margin-after: 0.3em;
    padding: 0;
}
ul.errorlist li {
    background: yellow;
    border: 1px solid red;
    color: red;
    list-style-type: none;
    padding: 3px;
}
p.errorlist {
    background: yellow;
    border: 1px solid red;
    color: red;
    padding: 3px;
}

div.registration_links {
    float: right;
    max-width: 120px; */
    color: #3168b8;
}
.registration_links a:hover,
.registration_links a:visited,
.registration_links a:active,
.registration_links a {
    color: #3168b8;
}
.registration_links p{
    float: right;
    margin: 5px 15px 0 0;
    font-size: smaller;
}
