@media only screen and (min-width: 1051px) {
  .recent-observations {
    margin-top: 200px;
  }
  .recent-observations-list {
    gap: 300px;
  }
}

@media only screen and (min-width: 1280px) {
  .recent-observations {
    margin-top: 50px;
  }
  .recent-observations-list {
    gap: 300px;
  }
}

@media only screen and (min-width: 1536px) {
  .recent-observations-list {
    gap: 10px;
  }
}