body {
    font-family: Arial, Verdana, sans;
    font-size: medium;
}

.minisass-heading {
    width: 100%;
    float: left;
    background: #803;
}

.minisass-breadcrumbs {
    float: right;
    background: white;
    font-size: small;
}
.minisass-breadcrumbs li {
    display: block;
}

.minisass-menus {
    width: 100%;
    float: left;
    background: white;
}
.minisass-menus li {
    display: block;
    padding: 3px;
    border: 1px solid #888;
}
.minisass-menus li.selected {
    background: #888;
    color: white;
}
.minisass-menus li.selected a:-webkit-any-link {
    color: white;
}

.minisass-content {
    width: 100%;
    float: left;
    background: white;
}
