{% if sites %}
  { "type": "FeatureCollection",
  "features": [
  {% for site in sites %}
    { "type": "Feature",
      "geometry": {"type": "Point", "coordinates": [{{ site.x }}, {{ site.y }}]},
      "properties": {
        "gid":{{ site.gid }},
        "site_name":"{{ site.site_name }}",
        "river_name":"{{ site.river_name }}",
        "combo_name":"{{ site.river_name }} - {{ site.site_name }} - {{ site.time_stamp|date:"Y/m/d" }}",
        "description":"{{ site.description }}",
        "river_cat":"{{ site.river_cat }}"
      }
    }
    {% if not forloop.last %},{% endif %}
  {% endfor %}]}
{% endif %}
