{% load i18n %}

<div class="cmsplugin-blog-include-list">
  <section>
    <heading>
    <h1>{% trans "Latest Blog Posts" %}</h1>
    </heading>
    {% for item in feed %}
    <div class="blog-leader">
      <p>
      <span class="blog-heading">
        <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
      </span><br/>
      {{ item.pub_date }}
      {% if item.creator %} by {{ item.creator }}{% endif %}
      <br/><br/>
      {{ item.description|safe }}
      </p>
    </div>
    {% empty %}
      <p>
      {% trans "There are no blog entries available" %}
      </p>
    {% endfor %}
  </section>
</div>
