site_name: MiniSASS
site_description: "MiniSASS documentation."
site_author: "Kartoza"
docs_dir: ./src
site_dir: ./site
repo_name: "miniSASS"
repo_url: "https://github.com/jeremy-prior/minisass"
edit_uri: "https://github.com/jeremy-prior/minisass/blob/main/docs/"

copyright: Kartoza and Contributors

markdown_extensions:
        - attr_list # lets us resize images see https://github.com/mkdocs/mkdocs/issues/1678#issuecomment-455500757
        - sane_lists # needed to keep numbers in ordered lists correct
        - pymdownx.highlight:
                  anchor_linenums: true
        - pymdownx.inlinehilite
        #- mdx_truly_sane_lists
        - toc:
                  permalink: true
                   #slugify: !!python/name:pymdownx.slugs.slugify
        - pymdownx.snippets:
                  base_path: .
        - admonition
        - tables
        - pymdownx.details
        - pymdownx.caret
        - pymdownx.keys
        - pymdownx.mark
        - pymdownx.tilde
        - pymdownx.superfences:
                  custom_fences:
                          - name: mermaid
                            class: mermaid
                            format: !!python/name:pymdownx.superfences.fence_code_format
        - pymdownx.emoji:
                  emoji_generator: !!python/name:materialx.emoji.to_svg
                  emoji_index: !!python/name:materialx.emoji.twemoji

nav:
        - Home:
                  - Home: index.md
                  - Developer Documentation: developer/index.md
                  - About: about/index.md
        - Developer:
                  - developer/index.md
                  - Installation: developer/install.md
                  - Authentication: developer/authentication.md
        - About:
                  - about/index.md
                  - License: about/license.md

# Configuration
theme:
  name: material
  logo: 
  language: en
  direction: ltr
  include_search_page: false
  search_index_only: true
  features:
    - content.code.annotate
    - content.tabs.link
    - header.autohide
#    - navigation.expand # stop auto-expanding menus
    - navigation.indexes
    - navigation.instant
#    - navigation.sections # This removes the ability to shrink sections on the nav menu but gives the bold headings
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    - scheme: default
      primary: indigo
      accent: teal
      toggle:
        icon: material/brightness-4
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: teal
      toggle:
        icon: material/brightness-6
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/logo.png
  icon:
    logo: material/book

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/kartoza
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/r/kartoza/
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/KartozaGeo
    - icon: fontawesome/brands/facebook
      link: https://kartoza.com
    - icon: fontawesome/solid/earth-africa
      link: https://kartoza.com

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - js/tablesort.js

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [..]
          import:
            - https://docs.python.org/3/objects.inv
            - https://mkdocstrings.github.io/autorefs/objects.inv
          options:
            docstring_style: sphinx
            separate_signature: true
            merge_init_into_class: true
            docstring_options:
              ignore_init_summary: true

