.Search .MuiInputBase-root {
  background-color: white;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.Search .MuiInputBase-root {
  height: 44px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}