{% load cms_admin %}

<script type="text/javascript" src="{% admin_static_url %}js/urlify.js"></script>
{% if not add %}
<script type="text/javascript">
  jQuery(document).ready(function (){
        var title= jQuery('#id_title');
        var slug = jQuery('#id_slug');
        var update = function(){
            var value = title.val();
            if (window.UNIHANDECODER){
                value = UNIHANDECODER.decode(value);
            }
            slug.val(URLify(value, 64));
        };
    title.keyup(update);
        update();
  });
</script>
{% endif %}

